* {
  /*background-color: #36393f;*/
  /* box-sizing: border-box; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
 height: 100%;
 padding: 0;
 background-color: #343b45;
}

body {                      
  margin: 0;                          
  overflow: hidden;
}

.section-one {
  background-color: #FF0000;
  float: left;
  overflow-y: auto;                  
  width: 15%;
  height: 100%;                      
}

.topbar{
  width: 240px;
  height: 48px;
  background-color: #283038;
  border-bottom: 2px solid;
  border-color: rgb(28, 28, 28);
  position:fixed;
  top: 0;
  z-index: 10;
}

.bottom-bar{
  width: 240px;
  height: 53px;
  background-color: #20262b;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.fake-searchbar{
  text-align: left;
  background-color: rgb(26, 26, 26);
  color: rgb(150, 150, 150);
  border: 4px solid rgb(26, 26, 26);
  padding-right: 50px;
  margin-left: 13px;
  margin-top: 11px;
}

.under-topbar{
  /* overflow: scroll; */
  margin-top: 48px;
  width: 240px;
  background-color: #283038;
}

.line-up{
  float:left;
}

.pretty-button{
  margin: 0 10px;
  font-size: large;
  padding: 10px;
  border:3px;
  border-radius: 6px;
  text-align: left;
  padding-left: 0;
}

.pretty-button:hover{
  background-color: #3e4248;
}

a{
  text-decoration: none;
  color:rgb(177, 177, 177);
}

ul{
  padding:0;
}

.icon{
  padding-left: 15px;
  padding-right: 15px;
}

.dm-section{
  color:rgb(177, 177, 177);
}
.dm-section.text{
  margin-left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  float: left;
}

.dm-section.icon{
  margin-bottom: 0;
}

.dm-section:hover{
  color: rgb(224, 224, 224);
}

.filler{
  /* width: 100px; */
  height:15px
}

.friend{
  position: relative;
  max-width: 224px;
  margin-left: 8px;
  /* box-sizing: border-box; */
  display: block;
  box-sizing: border-box;
  padding: 7px;
  border-radius: 5px;
  /* border: solid 2px; */
  /* border-color: red; */
  transition: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

.interactive{
  margin-left: 5px;
}

.friend:hover{
  background-color: #3e4248;
}

.friend-content{
  margin-left: 15px;
  min-width: 0;
}
.friend-avatar{
  float: left;
}

.name-decorators{
  padding-top: 5px;
  padding-left: 30px;
  padding-bottom: 7px;
}

.private-channel-invite-button-icon{
  height: 15px;
}

.container-something{
  height: 52px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 8px;
  margin-bottom: 1px;
}

.personal-avater{
  margin-right: 8px;
}

.personal-nametag{
  cusor:pointer;
  user-select: text;
  webkit-box-flex: 1;
  flex-grow: 1;
  margin-left: 8px;
  min-weidth:0;
}

.nametag-text-parent{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap:;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nametag-text{
  overflow: hidden;
  color: white;
  line-height: 18px;
  font-weight: 600;
}

.text-id-num{
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
  line-height:13px;
  font-size: 12px;
  color:lightgray;
}

.button-contents{
  margin: 3px;
}
